@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1440px;
  width: 1170px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.logo-text {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}

.link-text {
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.current-price {
  color: #db4444;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.prev-price {
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: #000;
  opacity: 0.5;
  /* margin-left: 12px; */
}

.card-name {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 150% */
  text-wrap: wrap;
  height: 32px;
}

.reviews {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  opacity: 0.5;
}

.card::after {
  content: 'Add To Card';
  width: 100%;
  height: 40px;
  background-color: black;
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-align: center;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover::after {
  display: flex;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.radio {
  height: 1.2em;
  aspect-ratio: 1;
  border: calc(1em / 8) solid black;
  padding: calc(1em / 8);
  background: radial-gradient(farthest-side, #db4444 94%, #0000) 50%/0 0
    no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(1em / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.3s;
}

.radio:checked {
  border-color: #db4444;
  background-size: 100% 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 2fr;
}
